nav ul li a:hover{
  background-color: lightblue;
}

img{
  border-bottom: 5px solid black;
  border-top: 5px solid black;
  display: flex;
  justify-content: center;
}

textarea{
  width: 250px;
  height: 100px;
  display: flex;
}

#util:hover{
  background-color: lightblue;
  cursor: pointer;
}

#utilbox{
  justify-content: flex-end;
  display: block;
  position: relative;
  top: -80px;
  /* left: 500px; */
  width: 200px;
  height:80px;
  float: right;
  margin-right: 0px;
  background: green;
  justify-content: space-around;
  align-content: center;
}
.text{
  position: relative;
  top: 0px;
  right: 8px;
  background: white;
  width: 300px;
  height: 50px;
  border: 2px solid black;
  border-spacing: inherit;
  border-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cards{
  position: relative;
  top: 0px;
  right: 8px;
  background: white;
  width: 300px;
  height: 50px;
  border: 2px solid black;
  border-spacing: inherit;
  border-bottom: 0;
  display: flex;
  justify-content: center;
  height: 440px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#cards img{
  /* padding: 10px; */
  margin: 10px;
  border: 1px solid grey;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* make scrollbar invisible */
}

#ecard{
  display: block;
  width: 300px;
  height: 500px;
  background: white;
  border: 2px solid black;
  position: relative;
  float: right;
  top: -590px;
}

#themes{
  display: flex;

}

.list{
  display: flex;
  list-style: none;
  border: 1px solid black;
  justify-content: space-around;
}

.save{
  list-style-type: none;
  margin-left: 20px;
  margin-top: 15px;
}
