*{
  padding: 0;
  margin: 0;
}

body{
  background-color: #3c3c3c;
}

nav{
  background: lime;
  height: 80px;
}


nav ul{
  list-style-type: none;
  float: left;
  margin-left: 20px;
}

nav ul li{
  float: left;
  padding-top: 25px;
  padding-left: 20px;
}

nav ul li a{
  text-decoration: none;
  color: black;
  font-family: Century 'Schoolbook';
}

nav ul li a:hover{
  background-color: lightblue;
}

#utilbox{
  justify-content: flex-end;
  display: inline-flex;
  position: relative;
  top: -80px;
  /* left: 500px; */
  width: 200px;
  height:80px;
  float: right;
  margin-right: 0px;
  background: green;
  justify-content: space-around;
}
.text{
  position: relative;
  top: 42px;
  right: 8px;
  background: white;
  width: 100px;
  height: 50px;
  border: 2px solid black;
  border-spacing: inherit;
  border-bottom: 0;
  display: flex;
  justify-content: center;
}
#cards{
  position: relative;
  top: 42px;
  right: 8px;
  background: white;
  width: 100px;
  height: 440px;
  border: 2px solid black;
  border-spacing: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
