#test{
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("Media/Images/cherry.gif");
  background-size: cover;
  height: 92%;
  width: 100%;
  opacity: 0.3;
  overflow: hidden;
  z-index: -1;
}

nav ul li a:hover{
  background-color: lightblue;
}

#title{
  color: black;
  position: relative;
  left: 495px;
  top: 100px;
  font-size: 50px;
  font-family: sans-serif;
}

#desc{
  color: black;
  position: relative;
  left: 400px;
  top: 100px;
  font-size: 30px;
  font-family: sans-serif;
  word-break: break-word;
}
