/*Imported fonts*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  /* Body content to dark mode color */
  background-color:#121212;
}

nav{
  /* adjust the texts/links on nav bar */
  display: flex;
  /* justify the texts on nav bar */
  justify-content: space-around;
  /* align all texts/links in nav to center */
  align-items: center;
  /* adjustment of nav bar height */
  min-height: 8vh;
  /* nav bar color to purple */
  background-color: #4f4794;
  /* font used by the nav bar */
  font-family: 'Oswald', sans-serif;
}

nav ul li{
  padding: 7px 13px;
  border-radius: 3px;
}
nav ul li:hover{
  border-bottom: : solid 1px transparent;
  background-color: #36393E;
}

.logo{
  border-style: none;
  /* text color */
  color: white;
  /* Make all logo texts uppercase */
  text-transform: : uppercase;
  /* adjust each letter text from each other */
  letter-spacing: 6px;
  /* Text font size */
  font-size: 15px;
}

.logo a{
  /* color to hide/mask hyperlink */
  color: white;
  text-decoration: none;
}

.nav-links{
  /* adjust the links/texts in row*/
  display: flex;
  /* links color */
  background-color: #4f4794;
  justify-content: space-around;
  /* adjust width in percent for flexibility */
  width: 80%;
}

.nav-links li{
  /* hide/remove the bullet on link on nav bar */
  list-style: none;
}

.nav-links a{
  color: white;
  text-decoration: none;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 17px;
}

div p{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#title{
  color: white;
  text-decoration: none;
  position: relative;
  font-size: 50px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

#desc{
  color: white;
  text-decoration: none;
  position: relative;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}

.imagebox{
  display:grid;
  color: grey;
  grid-gap: 60px;
  grid-template-areas:
  "one two three";
  width: 1024px;
  height: 641px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 225px;
  }

.imagebox li a{
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 7px 13px;
  border-radius: 5px;
}
.imagebox a:hover{
  border-bottom: : solid 1px transparent;
  background-color: #36393E;
}
.corporate{
  position: absolute;
  list-style: none;
  bottom: 0px;
  line-height: 400px;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-left: 45px;
}
.formal{
  position: absolute;
  list-style: none;
  bottom: 0px;
  line-height: 400px;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-left: 430px;
}
.informal{
  position: absolute;
  list-style: none;
  bottom: 0px;
  line-height: 400px;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-left: 785px;
}

.box1,.box2,.box3{
  border: solid 2px;
  width: 300px;
  height: 400px;
}

.box1{
  background-image: url("Media/E-Cards/sketch1.jpg");
  background-size: 100%;
}

.box2{
  background-image: url("Media/E-Cards/sketch5.jpg");
  background-size: 100%;
}

.box3{
  background-image: url("Media/E-Cards/sketch6.jpg");
  background-size: 100%;
}

footer.footer{
  position: fixed;
  height: 35px;
  width: 100%;
  background-color: #4f4794;
  bottom: 0;
}

p.copyright{
  positon: absolute;
  line-height: 35px;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: white;
  text-align: center;
  bottom: 0;
}

/* hamburger button for smaller devices */
.hamburgerbutton{
  /* to hide hamburger button when on normal display */
  display: none;
  /* change mouse to hand pointer when hover over the button */
  cursor: pointer;
}

.hamburgerbutton div{
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

/* responsive web design for small devices */
@media screen and(max-width: 1024px){
  .nav-links{
    width: 60%;
  }
}

/* responsive web design for small devices */
@media screen and (max-width: 768px) {
  body{
    /* hide the content that exceed the max width above */
    overflow-x: : hidden;
  }
  .nav-links{
    /* moves the links inside hamburger */
    position: absolute;
    right: 0px;
    height: 90vh;
    top: 8vh;
    background-color: #4f4794;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li{
    opacity: 0;
  }

  .hamburgerbutton{
    /* to make hamburger button visible on responsive mode */
    display: block;
  }

  /* #cherrybackground{
    display: inline-block;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("Media/Images/leaf.jpg");
    background-size: cover;
    height: 92%;
    max-width: 100%;
    opacity: 0.3;
    overflow: hidden;
    z-index: -1;
  } */

  #cherrybackground{
    background-image: url("Media/Images/leaf.jpg")
    background-positon: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    background-size: cover;
  }

  .corporate, .formal, .informal{
    display: inline-block;
    align-items: viewport;
  }

  .imagebox{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 1850px;
  }
  /* .imagebox{
    display:grid;
    color: grey;
    grid-gap: 60px;
    grid-template-areas:
    "one two three";
    width: 768px;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 225px;
    } */

  .box1,.box2,.box3{
    height: 800px;
    width: 400px;
  }
}

.nav-active{
  transform: translateX(0%);
  }

@keyframes navLinkFade {
    from{
      opacity: 0;
      transform: translateX(50px);
  }
    to{
      opacity: 1;
      transform: translateX(0px);
  }
}

.button .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}

.button .line2{
opacity: 0;
}

.button .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

#cherrybackground{
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("Media/Images/leaf.jpg");
  background-size: cover;
  height: 92%;
  width: 100%;
  opacity: 0.3;
  overflow: hidden;
  z-index: -1;
}
